#search-form {
    $ddl-row-padding: 1px;
    position: relative;

    .search-input {
        font-family: Arial, Helvetica, sans-serif;
    }

    .ddl-row {
        background: #fafafa;
        padding: $ddl-row-padding;
    }

    .ddl-activeRow {
        background: #ffffff;
        padding: $ddl-row-padding;
    }
}