#content-list {
    .content {
        border: 1px black solid;
        border-radius: 10px;
        background: #c4fde412;
        padding: 10px;

        .track-name {
            font-size: 22px;
        }

        .artist-name {
            font-size: 18px;
        }

        .collection-name {
            font-size: 18px;
        }
    }
}